<mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="selectionChange($event)">
  <mat-step>
    <ng-template matStepLabel>Setup</ng-template>
    <mat-card class="result">
      <mat-card-content>
        <h2 class="example-h2">How far away can the restaurant be?</h2>
        <h4 class="example-h2">{{locState.filters.radius}} kilometers from your current position</h4>

        <mat-slider class="example-margin" [max]="max" [min]="min" [(ngModel)]="locState.filters.radius">
        </mat-slider>
      </mat-card-content>
      <button mat-raised-button matStepperNext>Next</button>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Location</ng-template>
    <mat-card class="result">
      <mat-card-content>
        <h2 class="example-h2">Your Location</h2>
        <app-spinner *ngIf="!enterManual && locState.locationAccess === ELocation.AWAIT"
          [spinnerString]="'Retrieving location, please confirm.'"></app-spinner>
        <a *ngIf="!enterManual && locState.locationAccess === ELocation.DENIED">Couldn't
          retrieve address. Have you given us access
          to read your location?</a>
        <a *ngIf="!enterManual && locState.location.lat && locState.location.lng && ELocation.GRANTED">Is
          {{locState.location.lat}}
          your correct address?</a>
        <mat-form-field class="example-full-width" *ngIf="enterManual">
          <input matInput placeholder="Enter your address" ngx-google-places-autocomplete [options]='options'
            #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
        </mat-form-field>
        <button mat-raised-button (click)="toggleManual()">{{ !enterManual ? 'Change' : 'Go back'}}</button>
      </mat-card-content>
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button matStepperNext>Next</button>
    </mat-card>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finishing</ng-template>
    <app-spinner *ngIf="locState.restaurantResult === ERestaurant.AWAIT" [spinnerString]="'Loading restaurants...'">
    </app-spinner>
    <mat-card class="result" *ngIf="locState.restaurantResult === ERestaurant.NOTFOUND">
      <mat-card-content>
        <a>Couldn't find any restaurants with your search
          criteria. Please try again.</a>
      </mat-card-content>
      <button mat-raised-button matStepperPrevious>Previous</button>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>